@charset "UTF-8";

/*Geral*/

@media all {
    * {
        margin: 0px;
        padding: 0px;
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px #101d7a;
        padding: 10px;
    }
}


/*Portrait*/
@media screen and (orientation: portrait) {
    body {
        background-image: url(../img/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/*Landscape*/
@media screen and (orientation: landscape) {
    body {
        background-image: url(../img/cev-landscape.jpg);
        background-position: left bottom;
    }
}